## Import Library

In [1]:
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn import preprocessing

## Load dataset

In [2]:
df = pd.read_csv('dataset/product_unit_solds.csv')
df.head()

,product_id,price,units_sold,rating,rating_count,tags,product_color
0,5e9ae51d43d6a96e303acdb0,16.00,100,3.76,54,"Summer,Fashion,womenunderwearsuit,printedpajam...",white
1,58940d436a0d3d5da4e95a38,8.00,20000,3.45,6135,"Mini,womens dresses,Summer,Patchwork,fashion d...",green
2,5ea10e2c617580260d55310a,8.00,100,3.57,14,"Summer,cardigan,women beachwear,chiffon,Sexy w...",leopardprint
3,5cedf17ad1d44c52c59e4aca,8.00,5000,4.03,579,"Summer,Shorts,Cotton,Cotton T Shirt,Sleeve,pri...",black
4,5ebf5819ebac372b070b0e70,2.72,100,3.10,20,"Summer,Plus Size,Lace,Casual pants,Bottom,pant...",yellow

## Data preprocessing

### product_color

In [3]:
df['product_color'].value_counts()

black               264
white               206
blue                 84
pink                 84
yellow               80
                   ...
brown & yellow        1
light green           1
Blue                  1
leopardprint          1
winered & yellow      1
Name: product_color, Length: 101, dtype: int64

### tags

In [10]:
df = pd.read_csv('dataset/product_unit_solds.csv')
df.head()

,product_id,price,units_sold,rating,rating_count,tags,product_color
0,5e9ae51d43d6a96e303acdb0,16.00,100,3.76,54,"Summer,Fashion,womenunderwearsuit,printedpajam...",white
1,58940d436a0d3d5da4e95a38,8.00,20000,3.45,6135,"Mini,womens dresses,Summer,Patchwork,fashion d...",green
2,5ea10e2c617580260d55310a,8.00,100,3.57,14,"Summer,cardigan,women beachwear,chiffon,Sexy w...",leopardprint
3,5cedf17ad1d44c52c59e4aca,8.00,5000,4.03,579,"Summer,Shorts,Cotton,Cotton T Shirt,Sleeve,pri...",black
4,5ebf5819ebac372b070b0e70,2.72,100,3.10,20,"Summer,Plus Size,Lace,Casual pants,Bottom,pant...",yellow

In [11]:
df['tags'].values[0]

"Summer,Fashion,womenunderwearsuit,printedpajamasset,womencasualshort,Women's Fashion,flamingo,loungewearset,Casual,Shirt,casualsleepwear,Shorts,flamingotshirt,Elastic,Vintage,Tops,tshirtandshortsset,Women,Sleepwear,Print,womenpajamasset,womennightwear,Pajamas,womensleepwearset"