# Basic Syntax

Use `print(..)` to print something

In [ ]:
print('Hello World')

Hello World

Use `=` to do the variable assignment

In [ ]:
x = 2

Use `==` to do variable comparison

In [ ]:
x = 1
y = 2

print(x==y)

False

Use `#` for code commenting

In [ ]:
# this is a comment

You can easily write an if-else statement in Python.

In [ ]:
x = 1
if x>2:
    print('x is greater than 2')
else:
    print('x is not greater than 2')

x is not greater than 2

How about If-else if-else?

In [ ]:
x = 3
if x>5:
    print('x is greater than 5')
elif x>1:
    print(' x is between 1 and 5')
else:
    print('x is not greater than 1')

 x is between 1 and 5

# Data Structures & Basic Operations

## Primitive Data Structures

### Integer

Integer is a whole number, ranges from negative infinity to positive infinity

In [ ]:
x = 1
print(x)

1

In [ ]:
y = 2
print(y)

2

### Float

Float is the decimal number or floating points number, ranges from negative infinity to positive infinity

In [ ]:
x = 1.0
print(x)

1.0

In [ ]:
y = -7.9
print(y)

-7.9

### Basic Operation with Integer and Float

There are several basic calculation you can do with the integer and float type of data, including: addition, substraction, multiplication, division, modulo, floor division, power, and absolute value.

In [ ]:
x = 3
y = 2

In [ ]:
# Addition
print(x+y)

5

In [ ]:
# Substraction
print(x-y)

1

In [ ]:
# Multiplication
print(x*y)

6

In [ ]:
# Division
print(x/y)

1.5

In [ ]:
# Modulo
print(x % y)

1

In [ ]:
# Floor Division
print(x // y)

1

In [ ]:
# Power / Exponentiation
print(x ** y)
print(y ** 0.5) # square root

9
1.4142135623730951

### Boolean

Boolean is the built-in data type than is either `True` or `False`

In [ ]:
x=True
print(x)

True

In [ ]:
x=1
y=2

print(x>y)

False

### Basic Operation with Boolean

There are several basic calculation you can do with the boolean type of data, including `or`, `and`, `not`.

In [ ]:
x = True
y = False

In [ ]:
# True or False equals to True
print(x or y)

True

In [ ]:
# True and False equals to False
print(x and y)

False

In [ ]:
# Not True equals to False
print(not x)

False

In [ ]:
# We can also treat boolean value as 1 (True) or 0 (False)
print(x + y)
print(x - y)
print(y - x)

1
1
-1

There's something called the **Boolean Truth Table**, which basically is a table that sets out the functional values of logical expressions on each of their functional arguments, that is, for each combination of values taken by their logical variables.

![image.png]()

### String

String is a collection of characters. You can write string using `'` or `"`.

In [ ]:
x = 'Louis'
y = "Owen"

If you want to create a multi-line string, you can use `'''` or `"""`.

In [ ]:
z = '''
    Python is a fun programming language.
    It is also a very powerful language for Data Science.
    '''
print(z)

    Python is a fun programming language.
    It is also a very powerful language for Data Science.

### Basic Calculation with String

In [ ]:
# Append 2 strings
print(x+y)

LouisOwen

In [ ]:
# Append >2 strings
print(x + ' ' + y + ' is a Data Scientist from Indonesia.')

Louis Owen is a Data Scientist from Indonesia.

In [ ]:
# Repeat string
print(x * 3)

LouisLouisLouis

In [ ]:
# Range Slicing
print(x[2:])

uis

Note that although we sliced the `x` string from 2, but the result of the sliced string is `uis` not `ouis`. Why? This happened because the indexing in Python starts from 0 not from 1.

In [ ]:
# Index Slicing
print(x[2] + x[-1])

us

In [ ]:
# String Lowering
print(x.lower())

louis

In [ ]:
# String Capitalizing
print(x.upper())

LOUIS

In [ ]:
# Check whether the string contains only digit
print(x.isdigit())
print('1'.isdigit())
print('bt21'.isdigit())

False
True
False

In [ ]:
# Substring replacement
print(x.replace('uis','wen'))

Lowen

In [ ]:
# String Splitting
text = 'Python is a fun programming language. It is also a very powerful language for Data Science.'

print(text.split())

['Python', 'is', 'a', 'fun', 'programming', 'language.', 'It', 'is', 'also', 'a', 'very', 'powerful', 'language', 'for', 'Data', 'Science.']

In [ ]:
print(text.split(' '))

['Python', 'is', 'a', 'fun', 'programming', 'language.', 'It', 'is', 'also', 'a', 'very', 'powerful', 'language', 'for', 'Data', 'Science.']

In [ ]:
print(text.split('.'))

['Python is a fun programming language', ' It is also a very powerful language for Data Science', '']

You can find all other string operations in Python [here](https://docs.python.org/3/library/stdtypes.html#string-methods)

## Non-Primitive Data Structures

### List

List is a data structure in python that can saves many different types of other items.

In [ ]:
lst_1 = ['a','b','c','d','e']
print(lst_1)

['a', 'b', 'c', 'd', 'e']

In [ ]:
lst_2 = ['a','a', 1, True, 4.3]
print(lst_2)

['a', 'a', 1, True, 4.3]

### Basic Operations with List

In [ ]:
# Appending 2 Lists
print(lst_1 + lst_2)

['a', 'b', 'c', 'd', 'e', 'a', 'a', 1, True, 4.3]

In [ ]:
# Range Slicing
print(lst_1[1:3])
print(lst_1[-4:])
print(lst_1[4:])

['b', 'c']
['b', 'c', 'd', 'e']
['e']

Note that although we sliced from index 1 to 3, but the sliced list is only from index 1 to 2. Why? Because the ending parameter of slicing in list is exclusive (have to be the index after the expected ending index).

In [ ]:
# Accessing Specific Value
print(lst_1[3])

d

In [ ]:
# Replacing Specific Value
lst_1[3] = 'z'
print(lst_1)

['a', 'b', 'c', 'z', 'e']

In [ ]:
# Replacing Ranges of Values
lst_1[3:] = ['d','e']
print(lst_1)

['a', 'b', 'c', 'd', 'e']

In [ ]:
# Appending New Value at the end of the list
lst_1.append('f')
print(lst_1)

['a', 'b', 'c', 'd', 'e', 'f']

In [ ]:
# Removing Last Value of the list
lst_1.pop()
print(lst_1)

['a', 'b', 'c', 'd', 'e']

In [ ]:
# Removing Value at Specific Index of the list
lst_1.pop(2)
print(lst_1)

['a', 'b', 'd', 'e']

In [ ]:
# Inserting New Value at Specific Index
lst_1.insert(2,'z')
print(lst_1)

['a', 'b', 'z', 'd', 'e']

In [ ]:
# Removing the first occurence of specific value from the list
lst_1.remove('z')
print(lst_1)

['a', 'b', 'd', 'e']

In [ ]:
# Reverse the List Order
print(lst_1[::-1])

['e', 'd', 'b', 'a']

In [ ]:
# Checking if a value is contained in the list
'a' in lst_1

True

In [ ]:
# Filtering Values that contained in lst_1 but not in lst_2
[x for x in lst_1 if x not in lst_2]

['b', 'd', 'e']

In [ ]:
# Join list elements into string
print(''.join(lst_1))
print(','.join(lst_1))

abde
a,b,d,e

This operations actually shows us that **a string is actually a list of character**.

### Arrays

Array is very similar to list. The only different is array can only contains the same type of data. However, this limitation turns out enables us to perform an operations on **all its item individually** easily, which may not be the case with lists.

The most popular implementation of array in Python can be found in the **Numpy** package.

In [ ]:
import numpy as np

In [ ]:
arr_1 = np.array([1,2,3,4])
print(arr_1)

[1 2 3 4]

What if we force it to contains different types of elements?

In [ ]:
arr_mixed_1 = np.array(['a','b',1,2])
print(arr_mixed_1)

['a' 'b' '1' '2']

It turns out, all of the elements in the array is converted into string. Why? Becuase the type will be determined as the **minimum type** required to hold the objects in the array.

In [ ]:
arr_mixed_2 = np.array([1,2,True])
print(arr_mixed_2)

[1 2 1]

In [ ]:
arr_mixed_2 = np.array([1.5,2,True])
print(arr_mixed_2)

[1.5 2.  1. ]

There's also a function from Numpy to generate a specific type of array.

In [ ]:
arr_ones = np.ones(10)
print(arr_ones)

[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

In [ ]:
arr_zeros = np.zeros(10)
print(arr_zeros)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

### Basic Operations with Numpy Array

Unlike Lists, array performs the operation in the element-wise fashion. It means that the operation is performed in each of the corresponding elements index.

In [ ]:
arr_1 = np.ones(10)
print(arr_1)

arr_2 = 5 * np.ones(10)
print(arr_2)

[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
[5. 5. 5. 5. 5. 5. 5. 5. 5. 5.]

In [ ]:
# Addition
print(arr_1 + arr_2)

[6. 6. 6. 6. 6. 6. 6. 6. 6. 6.]

In [ ]:
# Substraction
print(arr_1 - arr_2)

[-4. -4. -4. -4. -4. -4. -4. -4. -4. -4.]

In [ ]:
# Multplication
print(arr_1 * arr_2)

[5. 5. 5. 5. 5. 5. 5. 5. 5. 5.]

In [ ]:
# Division
print(arr_1 / arr_2)

[0.2 0.2 0.2 0.2 0.2 0.2 0.2 0.2 0.2 0.2]

In [ ]:
# Modulo
print(arr_1 % arr_2)

[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

In [ ]:
# Floor Divison
print(arr_1 // arr_2)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [ ]:
# Power / Exponentiation
print(arr_2 ** arr_2)
print(arr_2 ** 0.5) # square root

[3125. 3125. 3125. 3125. 3125. 3125. 3125. 3125. 3125. 3125.]
[2.23606798 2.23606798 2.23606798 2.23606798 2.23606798 2.23606798
 2.23606798 2.23606798 2.23606798 2.23606798]

In [ ]:
arr_3 = np.array([1,20,3,5,0.4,2,9,6,20])

In [ ]:
# Average over array
avg_arr_3 = np.mean(arr_3)
print(avg_arr_3)

7.377777777777778

In [ ]:
# Median over array
median_arr_3 = np.median(arr_3)
print(median_arr_3)

5.0

In [ ]:
# Minimum over array
minimum_arr_3 = np.min(arr_3)
print(minimum_arr_3)

0.4

In [ ]:
# Maximum over array
maximum_arr_3 = np.max(arr_3)
print(maximum_arr_3)

20.0

### Matrix

A matrix is basically just an array of arrays. This is a 2 dimensional arrays.

In [ ]:
mat_1 = np.array([[1,2],[3,4]])
print(mat_1)

[[1 2]
 [3 4]]

In [ ]:
print(mat_1.shape)

(2, 2)

In [ ]:
mat_2 = np.array([[5,6],[7,8]])
print(mat_2)

[[5 6]
 [7 8]]

In [ ]:
# Stack 2 Matrices Vertically
np.vstack([mat_1,mat_2])

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]])

In [ ]:
# Stack 2 Matrices Horizontally
np.hstack([mat_1,mat_2])

array([[1, 2, 5, 6],
       [3, 4, 7, 8]])

The basic operations for matrix can be performed similarly to the operations in arrays.

In [ ]:
# Addition of 2 Matrices
print(mat_1+mat_2)

[[ 6  8]
 [10 12]]

### Tuple

Tuple is another data structures that is similar with list. However, a tuple is not immutable, which means once it is defined, you can not delete, add or edit any values inside it.

This characteristic of tuple is useful when you want to make sure that the information you have stored and will be transferred to other people can only be viewed and accessed, but can not be edited.

In [ ]:
tuple_1 = (1,2,3)
print(tuple_1)

(1, 2, 3)

In [ ]:
tuple_2 = 4,5,6
print(tuple_2)

(4, 5, 6)

In [ ]:
print(tuple_1[0])

1

In [ ]:
print(tuple_1 + tuple_2)

(1, 2, 3, 4, 5, 6)

### Set

Set is another list-alike data structure. However, set contains only unique values and it is not ordered.

In [ ]:
set_1 = {1,2,3,4,4,4,4,4,4}
print(set_1)

{1, 2, 3, 4}

In [ ]:
set_2 = set([4,4,4,4,4,5,6,7])
print(set_2)

{4, 5, 6, 7}

### Basic Operations with Set

In [ ]:
# All the elements in set_1 but not in set_2
print(set_1 - set_2)

{1, 2, 3}

In [ ]:
# Elements in set_1 or set_2 or both (UNION)
print(set_1 | set_2)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
# Elements in both set_1 and set_2 (INTERSECTION)
print(set_1 & set_2)

{4}

### Dictionary

Dictionary is a data structure that enables us to have a direct access for specific value via the corresponding key. You can imagine this data structure just like the actual dictionary.

A dictionary contains of the `key-value` pairs. Key is responsible as the identifier on how to access the value. Here, the value can be any types of data, whether it is a list, string, integer, set, or even a dictionary.

In [ ]:
# Let say we want to create a dictionary of test scores for each of the students
score_dict = {'Joe':70,
            'Thom':95,
            'Monica':80,
            'Max':65
            }
print(score_dict)

{'Joe': 70, 'Thom': 95, 'Monica': 80, 'Max': 65}

In [ ]:
# We can access the score for each of the students via its key (name of the student)
print(score_dict['Joe'])
print(score_dict['Max'])

70
65

In [ ]:
# We can add the element if there's new entry 
score_dict['Stella'] = 76
print(score_dict)

{'Joe': 70, 'Thom': 95, 'Monica': 80, 'Max': 65, 'Stella': 76}

In [ ]:
# We can change the value of previous entry
score_dict['Stella'] = 80
print(score_dict)

{'Joe': 70, 'Thom': 95, 'Monica': 80, 'Max': 65, 'Stella': 80}

In [ ]:
# We can also delete a specific entry
del score_dict['Stella']
print(score_dict)

{'Joe': 70, 'Thom': 95, 'Monica': 80, 'Max': 65}

In [ ]:
# We'are also able to access the sequences of our dictionary keys and values
print(score_dict.keys())
print(score_dict.values())

dict_keys(['Joe', 'Thom', 'Monica', 'Max'])
dict_values([70, 95, 80, 65])

# Dataframe

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Creating Dataframe from List

df = pd.DataFrame([1,2,3])
df

   0
0  1
1  2
2  3

In [ ]:
 # Creating Dataframe from Numpy Array 

df = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
                   columns=['col_a', 'col_b', 'col_c'])
df

   col_a  col_b  col_c
0      1      2      3
1      4      5      6
2      7      8      9

In [ ]:
# Creating Dataframe from Dictionary of List

data_dict = {'col_a':[1,2,3],'col_b':[4,5,6]}
df = pd.DataFrame(data_dict)
df

   col_a  col_b
0      1      4
1      2      5
2      3      6

## Import CSV

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [8]:
%cd /content/gdrive/MyDrive/Bimbing/Data Type and Structure

/content/gdrive/MyDrive/Bimbing/Data Type and Structure

In [9]:
%cd /content/gdrive/MyDrive/Bimbing/Data Type

[Errno 2] No such file or directory: '/content/gdrive/MyDrive/Bimbing/Data Type'
/content/gdrive/MyDrive/Bimbing/Data Type and Structure

In [5]:
# # Importing CSV files into a dataframe
import pandas as pd
df = pd.read_csv('/content/gdrive/MyDrive/Bimbing/Data Type and Structure/berat_tinggi.csv')
df

          tinggi      berat deskripsi
0     158.114332  58.364240    Normal
1     160.344026  52.560155    Normal
2     161.486080  61.934852    Normal
3     182.459297  69.042108      Slim
4     184.462584  71.341076      Slim
...          ...        ...       ...
8883  177.296550  74.905033      Slim
8884  151.605026  81.084183     Obese
8885  158.838120  61.779766    Normal
8886  156.592981  54.047666    Normal
8887  154.689225  86.413551     Obese

[8888 rows x 3 columns]

## Basic Operations with Pandas Dataframe

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8888 entries, 0 to 8887
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   tinggi     8888 non-null   float64
 1   berat      8888 non-null   float64
 2   deskripsi  8888 non-null   object
dtypes: float64(2), object(1)
memory usage: 208.4+ KB

In [11]:
df[df['deskripsi']=='Normal']

          tinggi      berat deskripsi
0     158.114332  58.364240    Normal
1     160.344026  52.560155    Normal
2     161.486080  61.934852    Normal
6     158.548112  56.255742    Normal
8     155.793189  57.567219    Normal
...          ...        ...       ...
8870  151.411037  64.393309    Normal
8874  157.043934  56.208765    Normal
8877  152.151690  65.955448    Normal
8885  158.838120  61.779766    Normal
8886  156.592981  54.047666    Normal

[2222 rows x 3 columns]

In [12]:
df[df['tinggi']>= 170]

          tinggi      berat deskripsi
3     182.459297  69.042108      Slim
4     184.462584  71.341076      Slim
10    184.145376  68.705959      Slim
11    178.530002  68.445291      Slim
15    181.204442  64.998052      Slim
...          ...        ...       ...
8866  176.555791  67.017879      Slim
8872  181.286894  72.868365      Slim
8875  180.915597  70.901908      Slim
8881  182.403405  74.793766      Slim
8883  177.296550  74.905033      Slim

[2225 rows x 3 columns]

In [13]:
df[['tinggi','deskripsi']]

          tinggi deskripsi
0     158.114332    Normal
1     160.344026    Normal
2     161.486080    Normal
3     182.459297      Slim
4     184.462584      Slim
...          ...       ...
8883  177.296550      Slim
8884  151.605026     Obese
8885  158.838120    Normal
8886  156.592981    Normal
8887  154.689225     Obese

[8888 rows x 2 columns]

In [14]:
# Saving Data
df.to_csv('/content/gdrive/MyDrive/Bimbing/Data Type and Structure/hasil_saving_data.csv')