# Data Type and Structure

**Covered Topics**
- Basic Syntax in Python
- Data Type in Python
- Data Structure in Python

## 1. Basic Syntax in Python

fdsmfdskfmdskfds

In [1]:
# Variable Assignment

nama = "lutfi"
ipk = 3.99

nama

'lutfi'

In [2]:
# Print Function

print(nama)

lutfi

In [3]:
# Print Function with multiple variables

print(nama, "memiliki IPK sebesar", ipk)

lutfi memiliki IPK sebesar 3.99

In [4]:
# Logical Operation (Numeric)

nilai_lutfi = 80
nilai_wildan = 79.99999

nilai_lutfi == nilai_wildan

False

In [5]:
# Logical Operation (String)

saya = "dobleh"
kabur = "Dobleh"

# Apakah saya sama dengan kabur (beda huruf kapital saja, ngaruh ga ya?)
saya == kabur

False

In [6]:
# Conditional Statement

nilai = 80

if nilai >= 75:
    hasil = "lulus"
else:
    hasil = "tidak lulus"
    
hasil

'lulus'

In [7]:
# Conditional Statement with Multiple IF

nilai = 65

if nilai >= 75:
    hasil = "lulus"
elif nilai >= 50:
    hasil = "remedial"
else:
    hasil = "tidak lulus"
    
hasil

'remedial'

## 2. Data Type in Python

<img src="https://miro.medium.com/max/746/0*iwq1pKSNK4wdrqFG.jpeg">

| Kategori | Tipe | Keterangan | Contoh Kode Python |
| ----------- | ----------- | ----------- | ----------- |
| Text | str | Menyatakan karakter/kalimat bisa berupa huruf angka, dll (diapit dengan " atau ') | "Python Lang" |
| Numeric | int | Menyatakan bilangan bulat | 11 atau 55 |
| Numeric | float | Menyatakan bilangan yang mempunyai koma | 3.99 atau 3.24 |
| Boolean | bool | Menyatakan benar True atau salah False | True atau False |

In [8]:
# Numerical Variables

nilai = 80
ipk = 3.5

print(nilai, ipk)

80 3.5

### Numerical Operations

| Simbol | Keterangan | Contoh Kode Python |
| ----------- | ----------- | ----------- | 
| a + b | Pertambahan | 5 + 3 == 8 |
| a - b | Pengurangan | 5 - 3 == 2 |
| a * b | Perkalian | 5 * 3 == 15 |
| a / b | Pembagian | 5 / 3 == 1.6667 |
| a ** b | Pangkat | 5 ** 3 == 125 |
| a // b | Pembagian tanpa Koma | 5 // 3 == 1 |
| a % b | Modulo, Sisa Pembagian | 5 % 3 == 2 |

In [9]:
# Try numerical operation

saya = 2
dobleh = 3
jamal = 4
kabur = 0.5

print(saya * kabur)

1.0

### String Operations 1

| Simbol | Keterangan | Contoh Kode Python |
| ----------- | ----------- | ----------- | 
| a + b | Pertambahan | "a" + "b" == "ab" |
| a + b | Pertambahan | "1" + "1" == "11" |
| a * b | Perkalian | "wk" * 2 == "wkwk" | 
| a[start:end] | Irisan | "abcd"[1:3] == "bc |
| a[::-1] | Penulisan dibalik | "abcd"[::-1] == "dcba" |

<center>Penulisan string di python bisa menggunakan '', atau "", atau juga """ """ untuk teks yang panjang</center>


<p></p>
<center>Tentang Index di String Python</center>

| String | p | a | i | m | o | n |
| -- | -- | -- | -- | -- | -- | -- | 
| Index | 0 | 1 | 2 | 3 | 4 | 5 |

<p></p>
<center>Untuk slicing rumusnya <b>variable</b>[index mulai:index akhir], cara baca <b>index akhir</b> ini selalu dikurangin 1. 
<p></p>    
Misal index mulai 2, index akhir 5, artinya kita ngambil urutan dari 2 sampai sebelum 5, yaitu 4, jadinya kita dapatkan pada index <b>2,3,4</b></center>

In [29]:
# Try string variable

# Usage of ""
statement = "I cannot eat right now"
statement_equal = "I can't eat right now" # Use "" if you want (') inside your string

# Usage of ''
statement2 = 'He is also called miracle boy'
statement2_equal = 'He is also called "miracle boy"' # Use '' if you want (") inside your string

# How about if we want to use both ' and " inside our string?
statement3 = """I can't speak about the "glory" spell"""

In [13]:
# Try string slicing operation

nama = "paimon"
# String = p | a | i | m | o | n
# Index = 0 | 1 | 2 | 3 | 4 | 5

# Start index is 2, end index is 5
# Meaning that we take indices 2,3, and 4 (before 5)
print(nama[2:5])

# Start index is empty, end index is 3
# Meaning that we take everything from beginning, ends at 2 (before 3)
print(nama[:3])

# Start index is 2, end index is empty
# Meaning that we start from index 2, and take everything till the end 
print(nama[2:])

# Reverse the string sequence
print(nama[::-1])

imo
pai
imon
nomiap

### String Operations 2

| Simbol | Keterangan | Contoh Kode Python |
| ----------- | ----------- | ----------- | 
| a.upper() | Konversi menjadi huruf besar | "saya".upper() == "SAYA"
| a.lower() | Konversi menjadi huruf kecil | "KaMu".lower() == "kamu"
| a.isdigit() | Membaca apakah string ini angka atau bukan | "5".isdigit() == True
| a.replace(before,after) | Mereplace string di variabel A berdasarkan before dan after | "hai".replace("ha","wk") == "wki"
| a.split(b) | Pisahkan variabel A berdasarkan variabel B | "aku,kamu,kita".split(",") == ["aku", "kamu", "kita"]
| sorted(a) | Mengurutkan variabel A secara ascending | sorted([1,5,2]) == [1,2,5] |


<p></p>
<center><a href="https://docs.python.org/3/library/stdtypes.html#string-methods">
    <button>Klik disini untuk String Manipulation Details</button>
</a></center>

In [15]:
# Try string operation 2

waifu = "sangonomiya kokomi"

# Split by empty space " "
print(waifu.split(" "))

# Replace full string
print(waifu.replace("sangonomiya kokomi", "guinevere"))

['sangonomiya', 'kokomi']
guinevere

### Logical Operation

| X | Y | NOT X | X OR Y | X AND Y |
| -- | -- | -- | -- | -- |
| True | True | False | True | True |
| True | False | False | True | False | 
| False | True | True | True | False |
| False | False | True | False | False |

Terkait penggunaan <b>and</b> dan <b>or</b>:
1. <b>and</b>
   - Mengembalikan hasil **True** apabila <u>X dan Y adalah **True**</u>
   - Mengembalikan hasil **False** apabila <u>diantara X atau Y ada yang **False**</u>

2. <b>or</b>
   - Mengembalikan hasil **True** apabila <u>diantara X atau Y ada yang **True**</u>
   - Mengembalikan hasil **False** apabila <u>X dan Y adalah **False**</u>
   
   
<p></p>
<center><a href="https://docs.python.org/3/library/stdtypes.html#comparisons">
    <button>Klik disini untuk Logical Manipulation Details</button>
</a></center>

In [16]:
# Try logical operation

x = True
y = False

print(x and y)
print(x or y)

z = ((x or y) or (y or y)) or y
print(z)

False
True
True

## 3. Data Structure in Python

| Kategori | Tipe | Keterangan | Contoh Kode Python |
| ----------- | ----------- | ----------- | ----------- |
| Sequence | list | Menyatakan beberapa untaian data dalam berbagai tipe data dan isinya bisa diubah-ubah (mutable) | ["Air", 21, True] |
| Sequence | tuple | Menyatakan beberapa untaian data dalam berbagai tipe data namun isinya tidak bisa diubah-ubah (immutable) | ("Air", 21, True) |
| Mapping | dict | Menyatakan beberapa untaian data dalam berbagai tipe data dan memiliki key/petujuntuk dalam menyimpan setiap nilai nya | {"nama":"Lutfi", "umur": 28} |
| Set | set | Menyatakan beberapa untaian data dalam berbagai tipe data, setiap nilainya bernilai unik, dan tidak berurutan | {"Jakarta", "Bandung", "Bekasi"} |

### List in Python

Sistem indexing nya sama dengan yang di string, dimulai dari indeks 0, dan bisa diisi oleh tipe data apapun

<img src="https://pynative.com/wp-content/uploads/2021/03/python-list.jpg">

| Slicing | Makna |
| --- | --- |
| `[:]` | Mengambil seluruh index, tiada batasan |
| `[n:]` | Mengambil dari index ke-n sampai index terakhir | 
| `[:m]` | Mengambil dari index pertama sampai index ke-m |
| `[n:m]` | Mengambil dari index ke-n hingga index ke-m |
| `[-1]` | Mengambil index terakhir |
| `[:-1]` | Mengambil index dari pertama sampai sebelum terakhir (selain index -1)|
| `[-1:]` | Mengambil index dari dari belakang (satu index)|

In [17]:
# in R we could say this is a 'vector' 
# mydata = c(1,2,3,"aha",c(5,3,2))

# in Python we called it as 'list'
# mydata = [1,2,3,"aha",[5,3,2]]

# Create an empty list
listku  = []
print(listku)

# Alternative code
listku = list()
print(listku)

[]
[]

In [18]:
# First List Operation
list_pertama = [1,2,3]

print("Mengambil value urutan PERTAMA:", list_pertama[0])   
print("Mengambil value urutan KEDUA:", list_pertama[1])  
print("Mengambil value urutan KETIGA:", list_pertama[2])   

print("==== katanya biar ada pembatas diantara kita =====")

# Second List Operation
list_kedua = [100,"Katanya integer aja?", True, 100.549373]
print("Saya mau ambil urutan kedua:", list_kedua[1])   
print("Saya mau ambil urutan terakhir/keempat:",list_kedua[3])

Mengambil value urutan PERTAMA: 1
Mengambil value urutan KEDUA: 2
Mengambil value urutan KETIGA: 3
==== katanya biar ada pembatas diantara kita =====
Saya mau ambil urutan kedua: Katanya integer aja?
Saya mau ambil urutan terakhir/keempat: 100.549373

In [19]:
# Modify List Value
mylist = [1,2,3,4,5]

# Replace index 3 to 100
mylist[3] = 100
print(mylist)

[1, 2, 3, 100, 5]

In [20]:
# Multiple Index is also allowed inside a list

list_multiple = ["bumi","itu","datar",["bagi","orang","awam"]]

# Get "orang"
list_multiple[3][1]

'orang'

Adapun index dengan dua tanda `:` seperti `[::]`, yaitu:

<b> Double Slice Python </b>: 
`[start:end:step]`

| Slicing | Makna |
| --- | --- |
| `[::]` | Mengambil seluruh index, tiada batasan |
| `[n::]` | Mengambil dari index ke-n sampai index terakhir | 
| `[::o]` | Mengambil dari index pertama dengan lompat setiap o index |
| `[n::o]` | Mengambil dari index ke-n dengan lompat setiap o index |
| `[n:m:o]` | Mengambil dari index ke-n hingga ke-m, lompat setiap o index |
| `[::-1]` | Mengambil seluruh value dengan mengurutkan dari belakang |

In [21]:
# Try the double slice python
bilangannya = [1,2,3,4,5,6,7,8,9,10]

# Get all even numbers that is greater than 1 and lower than 10
bilangannya[1:8:2]

[2, 4, 6, 8]

In [22]:
# Challenge Time 4 (3 minutes)
# Get all 9 values from this variable below:
challenge_time_list = [1,2,3,[5,[8,3,[8,9,[8,9,10]]],7,[8,9,10]]]

print(challenge_time_list) # First 9
print(challenge_time_list) # Second 9
print(challenge_time_list) # Third 9

[1, 2, 3, [5, [8, 3, [8, 9, [8, 9, 10]]], 7, [8, 9, 10]]]
[1, 2, 3, [5, [8, 3, [8, 9, [8, 9, 10]]], 7, [8, 9, 10]]]
[1, 2, 3, [5, [8, 3, [8, 9, [8, 9, 10]]], 7, [8, 9, 10]]]

### More Common List Functions

| Fungsi | Deskripsi | Contoh | 
| --- | --- | -- |
| len(x) | Menghitung jumlah objek didalam list | len([1,2,3]) == 3 |
| sum(x) | Menghitung penjumlahan semua objek numerikal didalam list | sum([1,2,3]) == 6 |
| x.append(y) | Menambah objek Y pada urutan terakhir kedalam list X | x.append(5) |
| del x[y] | Menghapus indeks ke-y dalam list X | del x[5] |

In [23]:
# Common basic function in List
listku = [1,2,3,4,5]

# Calculate how many objects inside a list
print(len(listku)) # length(listku)

# Sum all the numerical values inside a list
print(sum(listku)) # sum(listku)

# Add new value to list
listku.append(50) # We try to insert 50
print(listku)

# Delete an existing value
del listku[3] # We try to delete 4
print(listku)

5
15
[1, 2, 3, 4, 5, 50]
[1, 2, 3, 5, 50]

### Tuple in Python

Sifatnya dengan list, namun bersifat **immutable** alias tidak bisa direplace valuenya dengan value baru, kemudian menggunakan **( )**. Namun, secara processing time lebih cepat daripada list.

<img src="https://pynative.com/wp-content/uploads/2021/02/python-tuple.jpg">

In [30]:
tuple_1 = (1,2,3)
print(tuple_1)

(1, 2, 3)

In [31]:
tuple_2 = 4,5,6
print(tuple_2)

(4, 5, 6)

In [32]:
print(tuple_1[0])

1

### Set in Python

Sifatnya dengan list, namun bersifat **unique** alias value didalam *set* akan bersifat unik/distinct, kemudian menggunakan **{ }**. Apabila digunakan kepada container data type, maka akan mengambil unique value dan sort secara ascending.

<img src="https://pynative.com/wp-content/uploads/2021/03/python-sets.jpg">

In [ ]:
# Create new set

value_set = {5,43,2,1,6,2,3,1,6,3,6}
print(value_set)

In [ ]:
# "Hamid" appears 2 times
rekap_nama_siswa = ["lutfi","hamid","lukman","wildan","monika","hamid","avroz"]

# Get unique only and sort in ascending:
set(rekap_nama_siswa)

### Dictionary in Python

Struktur data yang menyerupai loker penyimpanan, setiap kotak diloker dapat diisi apapun tergantung kunci/penamaan yang digunakan (key and value). Tipe data ini sering digunakan untuk membuat tabel seperti tabel excel (kolom dan baris)

<img src="https://pynative.com/wp-content/uploads/2021/02/dictionaries-in-python.jpg">

In [ ]:
# Try dictionary
data_siswa = {"nama": "lutfi hamid",
              "umur": 28,
              "pekerjaan": "karyawan swasta",
              "nilai": [80,60,70]}

print(data_siswa)

In [ ]:
# Get the name
print(data_siswa["nama"])

# Modify the occupation to 'eSport Player'
data_siswa["pekerjaan"] = "eSport Player"
print(data_siswa["pekerjaan"])

# Calculate the average score 
print(sum(data_siswa["nilai"])/len(data_siswa["nilai"]))

# Print all keys and values
print("Keys:", data_siswa.keys())
print("Values:", data_siswa.values())

In [ ]:
# Add a new key and value inside dictionary

data_siswa["hobi"] = "ngebadut"
print(data_siswa)

# Delete an existing key inside dictionary
del data_siswa["nilai"]
print(data_siswa)

# Terimakasih!

**Jangan lupa ada PR**